<template>
  <div style="width: 100vw; height: 100vh; margin: 0; padding: 0 ">
    <div class="container-fluid">
      <div
        style="display: flex; align-items: center; justify-content: center;"
        class="content-wrapper full-page-wrapper text-center error-page"
      >
        <div class="row flex-grow">
          <div class="col-lg-7 mx-auto">
            <div
              class="row"
              style="display: flex; align-items: center; justify-content: center; flex-direction: row"
            >
              <div class="col-lg-6 text-lg-right pr-lg-4">
                <h1 class="display-1 mb-0 text-white">404</h1>
              </div>
              <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
                <h2 class="text-white">SORRY!</h2>
                <h3 class="font-weight-light text-white">
                  The page you’re looking for was not found.
                </h3>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 text-center mt-xl-2">
                <router-link class="text-white font-weight-medium" to="/"
                  >Back to home</router-link
                >
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 mt-xl-2">
                <p class="text-white font-weight-medium text-center">
                  Copyright &copy; 2018 All rights reserved.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
</template>

<script>
export default {
  name: "page404"
};
</script>

<style lang="scss">
body {
  margin: 0 !important;
  font-family: "roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}
.container-fluid {
  height: 100vh;
  width: 100vw;
  padding-right: 12.5px;
  padding-left: 12.5px;
  margin-right: auto;
  margin-left: auto;
  background: -webkit-linear-gradient(0deg, #f07830 0%, #f89848 100%);
}

.full-page-wrapper {
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
}
.text-center {
  text-align: center;
}

.error-page h2 {
  font-size: 4.375rem;
  line-height: 1;
}

.font-weight-light {
  font-weight: 300 !important;
}

.text-white {
  color: #fff !important;
}

.error-page h1 {
  font-size: 9.375rem;
  line-height: 1;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

.error-page {
  min-height: 100vh;

  h1 {
    font-size: 9.375rem;
    line-height: 1;

    @media (max-width: 991px) {
      font-size: 8rem;
    }
  }

  h2 {
    font-size: 4.375rem;
    line-height: 1;
  }

  .error-page-divider {
    @media (min-width: 992px) {
      border-left: 3px solid rgba(255, 255, 255, 0.2) !important;
    }
  }
}
</style>
