<template>
  <div>
    <SubPage title="About" SubTitle="About Us">
      <!-- Start home-about Area -->
      <section class="home-about-area section-gap">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 home-about-left">
              <img class="img-fluid" src="@/assets/img/about-img.png" alt="" />
            </div>
            <div class="col-lg-5 col-md-6 home-about-right">
              <h6>About Us</h6>
              <p>
              "Fauna Care is a non-government organization that supports animal welfare act. Thus, the goal of this organization is to help animals in need such as rescued pets, In order for these pet pals to live their happiest lives."
              </p>
            </div>

          </div>
        </div>
      </section>
    </SubPage>
  </div>
</template>

<script>
import SubPage from "@/views/templates/SubPage";

export default {
  name: "About",
  components: {
    SubPage
  }
};
</script>
