<template>
  <div>
    <SubPage title="Catalog" SubTitle="Animals Catalog">
      <CatalogArea />
    </SubPage>
  </div>
</template>

<script>
import CatalogArea from "@/views/partials/CatalogArea";
import SubPage from "@/views/templates/SubPage";

export default {
  name: "Catalog",
  components: {
    SubPage,
    CatalogArea
  }
};
</script>
