<template>
  <div>
    <SubPage title="Contact" SubTitle="Contact Us">
      <!-- Start contact-page Area -->
      <section class="contact-page-area section-gap">
        <div class="container">
          <!-- <div class="row">
						<div class="col-lg-12 mb-40">
							<GmapMap
							:center="{lat:9.325952, lng:123.295705}"
							:zoom="15"
							map-type-id="terrain"
							style="width: 100%; height: 450px"
							>
							<GmapMarker ref="myMarker"
							:position="google && new google.maps.LatLng(9.325952, 123.295705)" />
						</GmapMap>

					</div>
				</div>
			-->
          <div class="row">
            <div class="col-lg-12 mb-40 text-center">
              <h5>Contact us, the agent may reach you for your inquiry.</h5>
            </div>
            <div class="col-lg-4 d-flex flex-column address-wrap">
              <div class="single-contact-address d-flex flex-row">
                <div class="icon">
                  <span class="lnr lnr-home"></span>
                </div>
                <div class="contact-details">
                  <h5>Brgy. Taclobo, Dumaguete City</h5>
                  <p>
                    Locsin Street, 52023
                  </p>
                </div>
              </div>
              <div class="single-contact-address d-flex flex-row">
                <div class="icon">
                  <span class="lnr lnr-phone-handset"></span>
                </div>
                <div class="contact-details">
                  <h5>(0927 2772 277</h5>
                  <p>Mon to Fri 9am to 6 pm</p>
                </div>
              </div>
              <div class="single-contact-address d-flex flex-row">
                <div class="icon">
                  <span class="lnr lnr-envelope"></span>
                </div>
                <div class="contact-details">
                  <h5>support@petrescue.com</h5>
                  <p>Send us your query anytime!</p>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <form
                class="form-area contact-form text-right"
                @submit.prevent="sendMessage"
              >
                <div class="row">
                  <div class="col-lg-6 form-group">
                    <input
                      v-model="form.name"
                      placeholder="Enter your name"
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Enter your name'"
                      class="common-input mb-20 form-control"
                      required
                      type="text"
                      readonly
                    />

                    <input
                      v-model="form.email"
                      placeholder="Enter email address"
                      pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Enter email address'"
                      class="common-input mb-20 form-control"
                      required
                      type="email"
                      readonly
                    />

                    <input
                      placeholder="Enter subject"
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Enter subject'"
                      class="common-input mb-20 form-control"
                      v-model="form.subject"
                      required
                      type="text"
                    />
                  </div>
                  <div class="col-lg-6 form-group">
                    <textarea
                      class="common-textarea form-control"
                      v-model="form.message"
                      placeholder="Enter Messege"
                      @keyup.enter="$refs.submitContact.click()"
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Enter Messege'"
                      required
                    ></textarea>
                  </div>
                  <div class="col-lg-12">
                    <div class="alert-msg" style="text-align: left;"></div>
                    <button
                      ref="submitContact"
                      class="genric-btn primary btn"
                      :disabled="isDisabled"
                      type="submit"
                      style="float: right;"
                    >
                      Send Message
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End contact-page Area -->
    </SubPage>
  </div>
</template>

<script>
import SubPage from "../templates/SubPage";
import { gmapApi } from "vue2-google-maps";

export default {
  name: "Contact",
  data() {
    return {
      markers: [],
      form: {
        name: localStorage.getItem("name"),
        email: localStorage.getItem("email"),
        subject: "",
        message: ""
      },
      isDisabled: false
    };
  },
  components: {
    SubPage
  },
  computed: {
    google: gmapApi
  },
  mounted() {
    // At this point, the child GmapMap has been mounted, but
    // its map has not been initialized.
    // Therefore we need to write mapRef.$mapPromise.then(() => ...)
    // this.$refs.mapRef.$mapPromise.then((map) => {
    // 	map.panTo({lat: 9.325952, lng: 123.295705})
    // })
  },
  methods: {
    sendMessage() {
      try {
        this.showPreloader();
        this.$store
          .dispatch("activity/sendMessage", this.form)
          .then(res => {
            vm.swalSuccessMessage("Message sent successfully.");
          })
          .catch(err => {
            vm.swalErrorMessage(" ", err);
          })
          .finally(() => {
            this.hidePreloader();
          });
      } catch (e) {
        vm.swalErrorMessage(" ", e);
      }
    },

    showPreloader() {
      this.$store.commit("showPreloader", true);
      return (this.isDisabled = true);
    },

    hidePreloader() {
      this.$store.commit("showPreloader", false);
      return (this.isDisabled = false);
    }
  }
};
</script>
