<template>
  <SubPage title="Inquire" SubTitle="Schedule a visit">
    <template v-if="submitted == 0">

    <div class="row mt-5" v-if="item">
      <div class="col-md-8 mx-auto">
        <div class="mx-auto grid">
          <div class="single-portfolio col-sm-4 mx-auto all vector">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <img class="image img-fluid" :src="item.image" alt="" />
              </div>
              <a :href="item.image" class="img-pop-up">
                <div class="middle">
                  <div class="text align-self-center d-flex">
                    <img src="@/assets/img/preview.png" alt="" />
                  </div>
                </div>
              </a>
            </div>
            <div class="mb-20 mt-2">
              <div class="d-flex cat">
                <b class="text-dark"> Name: </b> &nbsp;<span
                  v-text="item.name"
                ></span>
              </div>
              <div class=" d-flex mb-1 cat">
                <b class="text-dark">Breed:</b> &nbsp;<span
                  v-text="item.breed"
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form @submit.prevent="sumbmitData">
      <div class="row my-5">
        <div class="col-md-4  mx-auto">
          <h3 class="mb-3">Schedule a visit</h3>
          <div class="form-group">
            <label>Date</label>
            <input
              type="date"
              class="form-control"
              required
              v-model="details.date"
              autofocus
            />
          </div>
          <div class="form-group">
            <label>Time</label>
            <input
              type="time"
              class="form-control"
              required
              v-model="details.time"
            />
          </div>

          <div class="form-group">
            <label>Mobile number</label>
            <input
              type="text"
              class="form-control"
              required
              v-model="details.mobile_no"
            />
          </div>
          <button class="mt-2 btn pull-right btn-primary" type="submit">
            Submit
          </button>
        </div>
      </div>
    </form>
  </template>
  <template v-else>
    <div class="row">
      <div class="col-md-4 my-5 py-5 text-center mx-auto">
      <h3 class="text-success">Request submitted, Please wait for the admin to contact you.</h3>
      </div>
    </div>
  </template>
  </SubPage>
</template>

<script>
import CatalogArea from "@/views/partials/CatalogArea";
import SubPage from "@/views/templates/SubPage";

export default {
  name: "Inquire",
  components: {
    SubPage,
    CatalogArea,
  },

  data() {
    return {
      details: {
        date: "",
        time: "",
        mobile_no: "",
      },
        submitted: 0
    };
  },

  computed: {
    item() {
      return this.$store.getters["catalogs/getSingleCatalog"];
    },
  },

  created() {
    this.fetchData();
  },

  methods: {
    fetchData() {
      this.$store.dispatch("catalogs/getSingleCatalog", {
        id: this.$route.params.id,
      });
    },
    sumbmitData() {
     this.$store.dispatch('catalogs/submitInquire', {...this.details, ...{catalog_id: this.$route.params.id}})
     .then(res => {
      if(res) {
        this.submitted = 1;
      }
     });
    },
  },
};
</script>
