<template>
  <div>
    <SubPage title="Services" SubTitle="Offered Services">
      <ServicesArea />
    </SubPage>
  </div>
</template>

<script>
import ServicesArea from "@/views/partials/ServicesArea";
import SubPage from "@/views/templates/SubPage";

export default {
  name: "Services",
  components: {
    SubPage,
    ServicesArea
  }
};
</script>
