<template>
  <div>
    <SubPage title="Testimonials" SubTitle="Adoptees Testimonials">
      <TestimonialsArea />
    </SubPage>
  </div>
</template>

<script>
import SubPage from "../templates/SubPage";
import TestimonialsArea from "@/views/partials/TestimonialsArea";

export default {
  name: "Testimonials",
  components: {
    SubPage,
    TestimonialsArea
  }
};
</script>
