<template>
	<SubPage title="Transactions" SubTitle="View transaction logs">
		<div class="row  pt-5">
			<div class="col-md-8 mx-auto d-flex justify-content-center">
				<form
				action="https://www.paypal.com/cgi-bin/webscr"
				method="post"
				class="mx-4"
				target="_top"
				>
				<input type="hidden" name="cmd" value="_donations" />
				<input
				type="hidden"
				name="business"
				value="ivanrobert1992@gmail.com"
				/>
				<input type="hidden" name="currency_code" value="PHP" />
				<input
				type="image"
				src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
				border="0"
				name="submit"
				title="PayPal - The safer, easier way to pay online!"
				alt="Donate with PayPal button"
				/>
				<img
				alt=""
				border="0"
				src="https://www.paypal.com/en_PH/i/scr/pixel.gif"
				width="1"
				height="1"
				/>
			</form>
				<b-button type="button" class="btn mx-4 btn-secondary"
					>Download Form</b-button
					>
		</div>
	</div>

	<div class="row my-5 pb-5">
		<div class="col-md-8 mx-auto">
			<b-table striped hover :items="items" :fields="fields">
				<template v-slot:cell(print)="row">
					<b-button type="button" class="btn btn-primary"
					>PRINT</b-button
					>
				</template>
			</b-table>
		</div>
	</div>
	<!-- <PatientRecordsPDF ref="printPDF" :records="rows"/> -->
</SubPage>
</template>

<script>
import SubPage from "@/views/templates/SubPage";
 // import PatientRecordsPDF from '@/views/components/PatientRecordsPDF'

export default {
	components: {
		SubPage,
		// PatientRecordsPDF
	},

	data() {
		return {
			fields: [
			{ label: "Transaction ID", key: "id" },
			{ label: "PET NAME", key: "pet_name" },
			{ label: "BREED", key: "breed" },
			{ label: "SCHEDULE", key: "schedule" },
			{ label: "STATUS", key: "status" },
			],
			items: []
		};
	},

	computed: {

	},

	created() {
		this.fetchData()
	},

	methods: {
		fetchData() {
			this.$store.dispatch('activity/getTransactions')
			.then(res=> {
				this.items = res;
			});
		}
	},
};
</script>
