<template>
  <div
    v-if="showPreloader"
    style="width:100vw; height: 100vh; background: rgba(0,0,0,.3); position: fixed; z-index: 999; display: flex; justify-content: center; align-items: center;"
  >
    <div class="spinner-border text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    showPreloader() {
      return this.$store.getters["showPreloader"];
    }
  }
};
</script>
