<template>
  <div class="limiter" v-if="showAuth">
    <div class="container-login100">
      <div
        class="wrap-login100 p-l-50 p-r-50 p-t-40 p-b-30"
        style="zoom:.8;"
        v-click-outside="hideAuth"
      >
        <form
          class="login100-form validate-form"
          @submit.prevent="submit"
          autocomplete="off"
        >
          <!-- 	<div class="row">
						<div class="col-lg-9 mx-auto mb-3">
							<router-link to="/">
								<img alt="logo" src="@/assets/images/slider_1.jpg" class="w-full"/>
							</router-link>
						</div>
					</div> -->

          <div
            v-if="register"
            class="wrap-input100 validate-input m-b-16"
            data-validate="Name is required"
          >
            <input
              class="input100"
              v-model="inputName"
              type="text"
              placeholder="Full name"
              required
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <span class="lnr lnr-user"></span>
            </span>
          </div>

          <code
            class="mb-1"
            v-if="!register && error != ''"
            v-text="error"
          ></code>

          <div
            class="wrap-input100 validate-input m-b-16"
            data-validate="Valid email is required: ex@abc.xyz"
          >
            <input
              class="input100"
              v-model="inputEmail"
              type="email"
              placeholder="Email"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <span class="lnr lnr-envelope"></span>
            </span>
            <code
              class="position: absolute"
              v-if="error && error.email"
              v-text="error.email[0]"
            ></code>
          </div>
          <div
            class="wrap-input100 validate-input m-b-16"
            data-validate="Password is required"
          >
            <input
              class="input100"
              type="password"
              v-model="inputPassword"
              placeholder="Password"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <span class="lnr lnr-lock"></span>
            </span>
            <code
              class="position: absolute"
              v-if="error.password"
              v-text="error.password[0]"
            ></code>
          </div>

          <div class="container-login100-form-btn p-t-20">
            <button
              class=" btn login100-form-btn"
              :disabled="isDisabled"
              v-text="register ? 'register' : 'login'"
              type="submit"
            ></button>
          </div>

          <div class="text-center w-full p-t-40">
            <span class="txt1" v-if="!register">
              Not a member?
            </span>

            <a
              class="txt1 bo1 hov1"
              style="user-select:none"
              @click="toggleRegister"
              v-text="!register ? 'Sign up now' : 'Take me back to login'"
            >
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
export default {
  data() {
    return {
      register: false,
      error: [],
      success: "",
      isDisabled: false,
      showAuth: false
    };
  },

  mounted() {
    setTimeout(() => {
      this.showAuth = true;
    }, 500);
  },
  methods: {
    toggleRegister() {
      this.error = [];
      this.setPassword("");
      if (!this.register) {
        this.register = true;
      } else {
        this.register = false;
      }
    },

    ...mapActions({
      loginUser: "auth/loginUser",
      registerUser: "auth/registerUser"
    }),

    ...mapMutations({
      setEmail: "auth/setEmail",
      setPassword: "auth/setPassword",
      setName: "auth/setName"
    }),
    submit() {
      this.isDisabled = true;

      if (this.register) {
        return this.registerUser()
          .then(res => {
            window.location.reload();
          })
          .catch(err => {
            this.isDisabled = false;

            this.error = err.response.data.error;
          });
      } else {
        return this.loginUser()
          .then(res => {
            window.location.reload();
          })
          .catch(err => {
            this.isDisabled = false;

            this.error = err.response.data.error;
          });
      }
    },

    hideAuth() {
      window.location.reload();
    }
  },

  computed: {
    ...mapState("auth", ["email", "password", "name"]),
    inputEmail: {
      get() {
        return this.email;
      },

      set(value) {
        this.setEmail(value);
      }
    },

    inputPassword: {
      get() {
        return this.password;
      },
      set(value) {
        this.setPassword(value);
      }
    },

    inputName: {
      get() {
        return this.name;
      },
      set(value) {
        this.setName(value);
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import "./_.scss";
@import "./_utils.scss";
</style>
