<template>
  <div>
    <section class="banner-area">
      <div class="container">
        <div class="row fullscreen align-items-center justify-content-between">
          <div class="col-lg-6 col-md-6 banner-left">
            <h6>Be an animal's parent</h6>
            <h2 class="mt-2 mb-10">ANIMAL CLINIC, VOLUNTEER INSTITUTION</h2>
            <p>
              "Fauna Care is a non-government organization that supports animal welfare act. Thus, the goal of this organization is to help animals in need such as rescued pets, In order for these pet pals to live their happiest lives."
            </p>
            <router-link to="/catalog" class="primary-btn text-uppercase"
              >browse pets</router-link
            >
          </div>
          <div class="col-lg-6 col-md-6 banner-right d-flex">
            <img
              id="watchidforcountup"
              class="img-fluid"
              src="@/assets/img/hero-img.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Banner"
};
</script>
