<template>
  <div>
    <!-- Start brands Area -->
    <section class="brands-area">
      <div class="container">
        <div class="brand-wrap">
          <div
            class="row align-items-center active-brand-carusel justify-content-start no-gutters"
          >
            <div class="col single-brand">
              <a href="#"
                ><img class="mx-auto" src="@/assets/img/l1.png" alt=""
              /></a>
            </div>
            <div class="col single-brand">
              <a href="#"
                ><img class="mx-auto" src="@/assets/img/l2.png" alt=""
              /></a>
            </div>
            <div class="col single-brand">
              <a href="#"
                ><img class="mx-auto" src="@/assets/img/l3.png" alt=""
              /></a>
            </div>
            <div class="col single-brand">
              <a href="#"
                ><img class="mx-auto" src="@/assets/img/l4.png" alt=""
              /></a>
            </div>
            <div class="col single-brand">
              <a href="#"
                ><img class="mx-auto" src="@/assets/img/l5.png" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End brands Area -->
  </div>
</template>
<script>
export default {
  name: "BrandArea"
};
</script>
