<template>
  <div>
    <!-- Start portfolio-area Area -->
    <section class="portfolio-area section-gap" id="portfolio">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center">
              <h1 class="mb-10">Lists of Pets</h1>
              <p>Who are in extremely love with eco friendly system.</p>
            </div>
          </div>
        </div>
        <div class="filters">
          <ul>
            <li class="active" @click="assignedCategory(null)">All</li>
            <li @click="assignedCategory('dogs')">Dogs</li>
            <li @click="assignedCategory('cats')">Cats</li>
          </ul>
        </div>
        <div class="filters-content">
          <div class="row grid">
            <template v-for="(item, index) in catalogs">
              <div class="single-portfolio col-sm-4 all vector" :key="index">
                <div class="relative">
                  <div class="thumb">
                    <div class="overlay overlay-bg"></div>
                    <img class="image img-fluid" :src="item.image" alt="" />
                  </div>
                  <a :href="item.image" class="img-pop-up">
                    <div class="middle">
                      <div class="text align-self-center d-flex">
                        <img src="@/assets/img/preview.png" alt="" />
                      </div>
                    </div>
                  </a>
                </div>
                <div class="mb-20 mt-2">
                  <div class="d-flex cat">
                    <b class="text-dark"> Name: </b> &nbsp;<span
                      v-text="item.name"
                    ></span>
                  </div>
                  <div class=" d-flex mb-1 cat">
                    <b class="text-dark">Breed:</b> &nbsp;<span
                      v-text="item.breed"
                      >Aspin</span
                    >
                  </div>
                  <a
                    @click="inquire(item)"
                    class="genric-btn primary"
                    >INQUIRE</a
                  >
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </section>
    <Pagination />
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import Pagination from "@/views/components/Pagination";
export default {
  name: "CatalogArea",
  components: { Pagination },
  data() {
    return {
      category: null,
    };
  },
  computed: {
    ...mapGetters({
      catalogs: "catalogs/getAllCatalogs",
      pagination: "catalogs/getAllCatalogsPagination",
      categories: "catalogs/getCategories",
    }),
  },

  async created() {
    await this.$store.dispatch("catalogs/getCategories");
    await this.fetchData();
    return await true;
  },

  methods: {
    fetchData(nextPrev) {
      this.$store.dispatch("catalogs/getAllCatalogs", {
        data: {
          category: this.category,
        },
        nextPrev,
      });
    },
    assignedCategory(category) {
      this.category = category;
      this.fetchData();
    },

    inquire(item) {
        this.$router.push({
            name: 'Inquire',
            params: {
                id: item.id
            }
        })
    }
  },
};
</script>
