<template>
  <div>
    <section class="facts-area section-gap" id="facts-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12 single-fact">
            <h1>
              <span
                class="active"
                v-countUp:onWindowScroll.once="{
                  watchedElId: 'watchidforcountup',
                  startValue: 0,
                  endValue: 322,
                  options: { duration: 1 }
                }"
              />
            </h1>
            <p>Rescued Animals</p>
          </div>
          <div class="col-lg-4 col-md-12 single-fact">
            <h1 class="counter">
              <span
                class="active"
                v-countUp:onWindowScroll.once="{
                  watchedElId: 'watchidforcountup',
                  startValue: 0,
                  endValue: 233,
                  options: { duration: 1 }
                }"
              />
            </h1>
            <p>Volunteered Services</p>
          </div>
          <div class="col-lg-4 col-md-12 single-fact">
            <h1>
              <span
                class="active"
                v-countUp:onWindowScroll.once="{
                  watchedElId: 'watchidforcountup',
                  startValue: 0,
                  endValue: 484,
                  options: { duration: 1 }
                }"
              />
            </h1>
            <p>Satisfied Adoptees</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "FactArea"
};
</script>
