<template>
  <header id="header">
    <div class="container main-menu">
      <div class="row align-items-center justify-content-between d-flex">
        <div id="logo">
          <router-link to="/"
            ><img src="@/assets/img/logo.png" alt="" title=""
          /></router-link>
        </div>
        <div>
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li><router-link to="/">Home</router-link></li>
              <li><router-link to="/about">About</router-link></li>
              <li><router-link to="/services">Services</router-link></li>
              <li><router-link to="/catalog">Catalog</router-link></li>
              <li><router-link to="/contact">Contact</router-link></li>
              <li>
                <User />
              </li>
            </ul>
          </nav>
        </div>

        <!-- #nav-menu-container -->
      </div>
    </div>
  </header>
  <!-- #header -->
</template>

<script>
import User from "./User";
export default {
  components: { User },
  computed: {}
};
</script>

<style scoped>
.router-link-exact-active {
  color: #f4873b !important;
}
</style>
