<template>
  <div>
    <!-- Start price Area -->
    <section class="price-area section-gap">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center">
              <h1 class="mb-10">Choose Your Plan</h1>
              <p>
                When someone does something that they know that they shouldn’t
                do, did they.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 single-price">
            <div class="top-part">
              <h1 class="package-no">01</h1>
              <h4>Economy</h4>
              <p class="mt-10">For the individuals</p>
            </div>
            <div class="package-list">
              <ul>
                <li>Secure Online Transfer</li>
                <li>Unlimited Styles for interface</li>
                <li>Reliable Customer Service</li>
              </ul>
            </div>
            <div class="bottom-part">
              <h1>£199.00</h1>
              <a class="price-btn text-uppercase" href="#">Buy Now</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 single-price">
            <div class="top-part">
              <h1 class="package-no">02</h1>
              <h4>Business</h4>
              <p class="mt-10">For the individuals</p>
            </div>
            <div class="package-list">
              <ul>
                <li>Secure Online Transfer</li>
                <li>Unlimited Styles for interface</li>
                <li>Reliable Customer Service</li>
              </ul>
            </div>
            <div class="bottom-part">
              <h1>£299.00</h1>
              <a class="price-btn text-uppercase" href="#">Buy Now</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 single-price">
            <div class="top-part">
              <h1 class="package-no">03</h1>
              <h4>Premium</h4>
              <p class="mt-10">For the individuals</p>
            </div>
            <div class="package-list">
              <ul>
                <li>Secure Online Transfer</li>
                <li>Unlimited Styles for interface</li>
                <li>Reliable Customer Service</li>
              </ul>
            </div>
            <div class="bottom-part">
              <h1>£399.00</h1>
              <a class="price-btn text-uppercase" href="#">Buy Now</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 single-price">
            <div class="top-part">
              <h1 class="package-no">04</h1>
              <h4>Exclusive</h4>
              <p class="mt-10">For the individuals</p>
            </div>
            <div class="package-list">
              <ul>
                <li>Secure Online Transfer</li>
                <li>Unlimited Styles for interface</li>
                <li>Reliable Customer Service</li>
              </ul>
            </div>
            <div class="bottom-part">
              <h1>£499.00</h1>
              <a class="price-btn text-uppercase" href="#">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End price Area -->
  </div>
</template>

<script>
export default {
  name: "PriceArea"
};
</script>
