<template>
	<div>
   <!-- Start recent-blog Area -->
   <section class="recent-blog-area section-gap">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 pb-30 header-text">
          <h1>Latest posts from our blog</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque aut itaque cupiditate cum accusantium iure, aliquid culpa quisquam iusto, aspernatur voluptatem in officiis, eligendi deleniti.
          </p>
        </div>
      </div>
      <div class="row">

        <template v-for="(item, index) in items">
          <div class="single-recent-blog col-lg-4 col-md-4">
            <div class="thumb">
              <img class="f-img img-fluid mx-auto" src="@/assets/img/b1.jpg" alt="" />
            </div>
            <div
            class="bottom d-flex justify-content-between align-items-center flex-wrap"
            >
            <div>
              <img class="img-fluid" :src="item.author_img" alt="" />
              <a href="#"><span v-text="item.author"></span></a>
            </div>
            <div class="meta">
              13th Dec
              <span class="lnr lnr-heart " :class="item.isliked ? 'text-danger' : '' "></span  v-text="item.like">
              <span class="lnr lnr-bubble"></span v-text="item.message_count">
            </div>
          </div>
          <a href="#">
            <h4 v-text="item.title"></h4>
          </a>
          <p v-text="item.content">
          </p>
        </div>
      </template>

    </div>
  </div>
</section>
<!-- end recent-blog Area -->
</div>
</template>

<script>
export default {
  name: 'RecentBlog',
  data() {
    return {
      items: [
      {
        title: 'Test Title',
        content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga hic voluptates temporibus deserunt minus distinctio, rem! Incidunt dolore alias animi minus assumenda voluptas, temporibus beatae repellat labore dolorem suscipit fugit.',
        created_at: 'Dec. 11, 2019',
        author: 'Mark Wiens',
        author_img: 'img/user.png',
        like: '15',
        isliked: true,
        message_count: '15'
      },
      {
        title: 'Test Title',
        content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga hic voluptates temporibus deserunt minus distinctio, rem! Incidunt dolore alias animi minus assumenda voluptas, temporibus beatae repellat labore dolorem suscipit fugit.',
        created_at: 'Dec. 11, 2019',
        author: 'Mark Wiens',
        author_img: 'img/user.png',
        like: '15',
        message_count: '15',
        isliked: false,
      },
      {
        title: 'Test Title',
        content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga hic voluptates temporibus deserunt minus distinctio, rem! Incidunt dolore alias animi minus assumenda voluptas, temporibus beatae repellat labore dolorem suscipit fugit.',
        created_at: 'Dec. 11, 2019',
        author: 'Mark Wiens',
        author_img: 'img/user.png',
        like: '15',
        isliked: true,
        message_count: '15'
      },
      ]

    }
  }
};
</script>

