<template>
  <div>
    <!-- Start services Area -->
    <section class="services-area section-gap">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content  col-lg-7">
            <div class="title text-center">
              <h1 class="mb-10">Our Offered Services</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="single-services">
              <span class="lnr lnr-pie-chart"></span>
              <router-link to="/catalog"><h4>Pet Adoption</h4></router-link>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-services">
              <span class="lnr lnr-camera"></span>
              <router-link to="/about"><h4>Volunteered Services</h4></router-link>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-services">
              <span class="lnr lnr-laptop-phone"></span>
              <router-link to="/about"><h4>Animal Clinic</h4></router-link>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End services Area -->
  </div>
</template>

<script>
export default {
  name: "Servicess"
};
</script>
