<template>
  <div>
    <!-- Start testimonial Area -->
    <section class="testimonial-area section-gap">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center">
              <h1 class="mb-10">Adoptee’s Feedback About Us</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et
                nemo consequuntur eos, praesentium molestiae.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="active-testimonial">
            <template v-for="(item, index) in items">
              <div class="single-testimonial item d-flex flex-row">
                <div class="thumb">
                  <img class="img-fluid" :src="item.author_img" alt="image" />
                </div>
                <div class="desc">
                  <p>
                    {{ item.content }}
                  </p>
                  <h4>{{ item.author }}</h4>
                  <p>{{ item.profession }}</p>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </section>
    <!-- End testimonial Area -->
  </div>
</template>
<script>
export default {
  name: "TestimonialsArea",
  data() {
    return {
      items: [
        {
          content:
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem provident placeat qui at dignissimos labore similique dolore repellendus suscipit, assumenda, necessitatibus numquam consequuntur, corrupti ipsa culpa. Veniam, quas. Temporibus, dolorem!",
          author: "Max Test",
          profession: "CEO at NORSU",
          author_img: "img/elements/user1.png"
        },
        {
          content:
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem provident placeat qui at dignissimos labore similique dolore repellendus suscipit, assumenda, necessitatibus numquam consequuntur, corrupti ipsa culpa. Veniam, quas. Temporibus, dolorem!",
          author: "Max Test",
          profession: "CEO at NORSU",
          author_img: "img/elements/user1.png"
        }
      ]
    };
  }
};
</script>
