<template>
  <div class="dropdown">
    <a
      href="Javascript:void(0)"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <i class="fa fa-user" aria-hidden="true" style="font-size:1.3rem"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right py-3 px-2">
      <button class="dropdown-item" @click.prevent="moveTo('/my-account')">
        My account
      </button>
       <button class="dropdown-item" @click.prevent="moveTo('/transactions')">
        View transactions
      </button>
      <button class="dropdown-item" @click.prevent="logoutUser">
        Logout
      </button>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    logoutUser() {
      localStorage.clear();
      window.location.reload();
    },
    moveTo(uri) {
      window.location.href = uri;
    }
  }
};
</script>
