<template>
  <div id="app">
    <Auth v-if="isNotLoggedIn" />
    <Preloader />
    <router-view />
  </div>
</template>

<script>
import Auth from "@/modules/auth/Index";
import Preloader from "@/views/components/Preloader";
export default {
  components: {
    Auth,
    Preloader
  },

  computed: {
    isNotLoggedIn() {
      return this.$store.getters["displayAuth"];
    }
  }
};
</script>

<style lang="scss">
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
}
body, html, #app {
  max-width: 100vw;
  overflow-x: hidden;
}
@import "@/assets/css/linearicons";
@import "@/assets/css/font-awesome.min";
@import "@/assets/css/bootstrap";
@import "@/assets/css/magnific-popup";
@import "@/assets/css/nice-select";
@import "@/assets/css/animate.min";
@import "@/assets/css/owl.carousel";
@import "@/assets/css/main";
</style>
