<template>
  <div>
    <Header />
    <slot></slot>
    <Footer />
  </div>
</template>

<script>
import Header from "../partials/Header";
import Footer from "../partials/Footer";

export default {
  name: "MainPage",
  components: {
    Header,
    Footer
  }
};
</script>
