<template>
  <div>
    <Header />
    <section class="relative about-banner">
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="about-content col-lg-12">
            <h1 class="text-white">
              {{ title }}
            </h1>
            <p class="text-white link-nav">
              <router-link to="/">Home </router-link>
              <span class="lnr lnr-arrow-right"></span>
              <a href="Javascript:void(0)">{{ SubTitle }}</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <slot></slot>
    <Footer />
  </div>
</template>

<script>
import Header from "../partials/Header";
import Footer from "../partials/Footer";

export default {
  name: "MainPage",
  props: ["title", "SubTitle"],
  components: {
    Header,
    Footer
  }
};
</script>
