<!DOCTYPE html>
<html lang="en">
<head>


  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src gap://ready file://* *; style-src 'self' http://* https://* 'unsafe-inline'; script-src 'self' http://* https://* 'unsafe-inline' 'unsafe-eval'"> -->

  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->

  <!-- <link rel="stylesheet" href="css/linearicons.css"> -->
  <!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
 <!--  <link rel="stylesheet" href="css/bootstrap.css"> -->
<!--   <link rel="stylesheet" href="css/magnific-popup.css"> -->
 <!--  <link rel="stylesheet" href="css/nice-select.css">     -->          
 <!--  <link rel="stylesheet" href="css/animate.min.css"> -->
  <!-- <link rel="stylesheet" href="css/owl.carousel.css">     -->   
  <!-- <link rel="stylesheet" href="css/main.css"> -->
  
  

  <!--===============================================================================================-->
</head>
<body>
  <noscript>
    <strong>We're sorry but kkk doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  
  <div id="app"></div>
  <!-- built files will be auto injected -->

  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>      -->

</body>
</html>
