<template>
  <div>
    <MainPage>
      <Banner />
    </MainPage>
  </div>
</template>

<script>
import Banner from "./partials/Banner";
import FactArea from "./partials/FactArea";
import CatalogArea from "./partials/CatalogArea";
import TestimonialsArea from "./partials/TestimonialsArea";
import RecentBlog from "./partials/RecentBlog";

import MainPage from "./templates/MainPage";

export default {
  name: "Home",
  components: {
    Banner,
    FactArea,
    CatalogArea,
    TestimonialsArea,
    RecentBlog,
    MainPage
  }
};
</script>
